<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/todoicon.ico">
    <title>GoalRush</title>  
    <link href="/css/aboutus.css" rel="stylesheet">
</head>
<body>
      <!-- nav bar should be blur and fixed to the screen by using backdrop css property -->
      <!-- write html and add css to the landing page accordingly -->
      <!-- on nav bar there should be  login signup about contact -->
    <nav class="navbar">
        <a href="/TODO">Task Hub</a>
        <a href="/aboutUs">About</a>
        <a href="/contactus">Contact</a>
        <a href="/logout">Logout</a>
    </nav>
    
    <div class="intro-section">
        <img src="\img\aboutus.jpg" alt="About us image">
        <div class="content">
            <p>Your ultimate platform for personal and shared goal management, where you can thrive individually or alongside your loved ones.</p><br>
            <h1>Welcome to GoalRush</h1>
        </div>
    </div>

    <div class="core-features">
        <div class="core-features-header">
            <h2>Core Features</h2>
            <p>Discover the powerful tools that make GoalRush your go-to platform for goal management.</p><br>
        </div>
        <div class="feature-row">
            <img class="feature1" src="\img\shared.png" alt="">
            <div class="feature-content">
                <h3>Shared To-Do Lists</h3>
                <p>Create shared lists with friends or partners, allowing everyone to contribute and stay organized. Set deadlines and priorities for collaborative tasks.</p><br>
            </div>
        </div>
        <div class="feature-row">
            <img class="feature2" src="\img\goal.png" alt="">
            <div class="feature-content">
                <h3>Goal Setting Tools</h3>
                <p>Track your personal and shared goals with ease. Visualize your progress and stay motivated to achieve success.</p><br>
            </div>
        </div>
        <div class="feature-row">
            <img class="feature3" src="\img\category.png" alt="">
            <div class="feature-content">
                <h3>Goal Categories</h3>
                <p>Organize your tasks into categories such as Chores, Work, Self-Care, Fitness, and Relationship Goals, ensuring a balanced approach to achieving your objectives.</p><br>
            </div>
        </div>
        <div class="feature-row">
            <img class="feature4" src="\img\visualization.png" alt="">
            <div class="feature-content">
                <h3>Engaging Visualizations</h3>
                <p>Experience your progress through engaging visualizations that illustrate your accomplishments. Celebrate milestones together and stay inspired.</p><br>
            </div>
        </div>
    </div>


    
  
</body>
</html>