<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add partner</title>
    <link  rel="stylesheet" href="/css/addUser.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/img/todoicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <a> Hello <%= firstname %></a>
        <a href="/">Home</a>
        <a href="/TODO">Task Hub</a>
        <a href="#">Join room</a>
        <a href="#">contact us </a>
        <a href="/logout">Logout</a>
    </nav>

   <div id="main-div">
        <div>
            <div class="head-details">
                <h1 class="head">Add partner... complete goals</h1>
                <p class="head-discrip">Stay organized and achieve your goals effortlessly with our app. Manage, share, and collaborate on tasks seamlessly with your partners. Add partner to start your productivity journey !.</p>
            </div>
            <div class="uid-div">
                <h4 id="discription">Generate link and Add your friend or partner</h4>
                <div id="uid">example.. 4n5pxq24kpiob12og9 </div>
                <div id="btns">
                    <div id="generate-url-btn">Generate Invitation </div>
                </div>
            </div>

        </div>
        
        <img src="/img/duo.png.png" id="duopic">
   </div>
<script src="/js/addUser.js"></script>
</body>
</html>