<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contactus.css">
    <title>Contact us</title>
</head>
<body> 
    <nav class="navbar">
        <a> Hello <%= firstname %></a>
        <a href="/">Home</a>
        <a href="/TODO">Task Hub</a>
        <a href="/join-room">Join room</a>
        <a href="/addUser">Add user </a>
        <a href="/logout">Logout</a>
    </nav>

    <div class="contact-main-body">
        <div class="left">
            <h2>Reach Out To Us</h2><br>
            <p>We value your feedback and inquiries. Whether you have a question about our features or suggestions for improvement, your voice matters to us. Please fill out the contact form below, and we will get back to you as soon as possible.</p>
        </div>
        <form class="info-mail"  method="post">
          <input type="text" placeholder="Username" name="name">
          <input type="email" placeholder="Email" name="email">
          <textarea id = mailarea name="mailContent" placeholder="Enter suggestion or message"></textarea>
          <div id="mail-send-btn">Submit</div>
        </form>
    </div>
    <br>
    <br>
    
</body>
</html>