<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contactus.css">
    <title>Contact us</title>
</head>
<body>
    <nav class="navbar">
        <a> Hello <%= firstname %></a>
        <a href="/">Home</a>
        <a href="/TODO">Task Hub</a>
        <a href="/join-room">Join room</a>
        <a href="/addUser">Add user </a>
        <a href="/logout">Logout</a>
    </nav>

    
    
</body>
</html>