<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <link rel="icon" href="/img/todoicon.ico">
    <link href="/css/history.css" rel="stylesheet">
</head>
<body>
    <div class="body">
        <div id="left-slider">
          <div class="profilediv">
            <div id="profile">
                <svg height="40" width="40" style="font-family: 'Josefin Sans'">
                    <text x="11" y="31" fill="white" font-size="27"><%= firstname.charAt(0).toUpperCase()%></text>
                </svg>
            </div>
            <a id="name"> Hello <%= firstname %></a>
          </div>
    
          <a href="/" class="iconlink">
            <div class="home">
                  <div id="style" class="homestyle">
                      <img src="/img/newhome.png" id="homeicon">
                  </div>  
                  <div class="home-description">Home</div>
            </div>
          </a>
    
          <a href="/contactus" class="iconlink">
            <div class="contact">
                    <div id="style" class="contactstyle" >
                        <img src="/img/phone3.png" id="contacticon">
                    </div>
                <div class="contact-description">Contact us </div>
            </div>
          </a>
          
          <a href="/setting" class="iconlink">
            <div class="setting">
                <div id="style" class="settingstyle">
                    <img src="/img/settings.png" id="settingicon">
                </div>
                <div class="setting-description">Settings</div>
            </div>
          </a>
    
          <a href="/logout" class="iconlink">
            <div class="logout">
                <div id="style" class="logoutstyle">
                    <img src="/img/logout2.png" id="logouticon">
                </div>
                <div class="logout-description">Logout</div>
            </div>
          </a>
          
        </div>
        <div id="mid">
            <nav class="navbar">
                
                <div id="lightouter">
                    <div id="lightball"><img src="/img/lightmode.png" id="light"></div>
                </div>
                <a id="lmode">Light mode</a>
                <a class="navaddtask">Previous 30 Tasks</a> 
                <!-- <img src="/img/more.png" id="plus"> -->
            </nav>
        
            
            <div id="lists">
                          
            </div>

            <!-- Add Slider and Search -->
            <div id="date-slider-container">
                <input type="range" id="date-slider" min="0" max="29" value="0" step="1">
                <span id="selected-date"></span>
                <button id="search-btn">Search</button>
            </div>
            
        </div>
        <!-- -------------------changes -->
        <div id="right-slider">
            <a href="/dashboard" class="dashboard-link">
                <div class="dashboard">
                    <img src="/img/user3.png" id="dashboardprofileicon">
                    <div class="dash-description">Dashboard</div>
                </div>
            </a>
            
        </div>
    </div>
  
    

<script src="/js/history.js"></script>
</body>
</html>