<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <link rel="icon" href="/img/todoicon.ico">
    <link href="/css/history.css" rel="stylesheet">
</head>
<body>
    <h1>History</h1>

<script src="/js/history.js"></script>
</body>
</html>