<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- title apne page ke hisab se rkh lena -->
    <title>todo</title>  
</head>
<body>
     <!-- nav bar should be blur and fixed to the screen by using backdrop css property -->
    <!-- write html and add css to the landing page accordingly -->
      <!-- on nav bar there should be  login signup about contact -->
    
</body>
</html>