<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <link rel="icon" href="/img/todoicon.ico">
    <link href="/css/main.css" rel="stylesheet">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    
</head>
<body>
    <div id="sidebar">
      
        <img src="/img/direction.png" id="slidericon">

        <a href="/" class="iconlink">
            <div id="style" class="homestyle">
                <img src="/img/newhome.png" id="homeicon">
            </div>
        </a>
        <a href="/contactus" class="iconlink">
            <div id="style" class="contactstyle" >
                <img src="/img/phone3.png" id="contacticon">
            </div>
        </a>
        <div id="style" class="progressstyle">
            <img src="/img/speedometer.png" id="progressicon">
        </div>
        <div id="style" class="timestyle">
            <img src="/img/timer2.png" id="timeicon">
        </div>
        <a href="/dashboard" class="iconlink">
            <div id="style" class="profilestyle">
                <img src="/img/user3.png" id="profileicon">
            </div>
        </a>
        
        <a href="/setting" class="iconlink">
            <div id="style" class="settingstyle">
                <img src="/img/settings.png" id="settingicon">
            </div>
        </a>
        <a href="/logout" class="iconlink">
            <div id="style" class="logoutstyle">
                <img src="/img/logout2.png" id="logouticon">
            </div>
        </a>
    
        <!-- <img src="/img/user3.png" id="modeicon"> -->
        <!-- <img src="/img/logout2.png" id="logouticon"> -->
    </div>
    <div id="slider">

        <div id="suggestdiv">
            <p id="suggestedPara"> 
                Get task recommendations that help you add tasks to your task list, which will improve your life.
            </p>
            <div id="suggestedbtn">Task recommendation</div>
        </div>

        <div class="progress-ring">
            <svg width="150" height="150" viewBox="0 0 150 150">
                <circle
                    class="progress-ring-circle background-circle"
                    cx="75" cy="75" r="65" stroke-width="6">
                </circle>
                <circle
                    class="progress-ring-circle progress-circle"
                    cx="75" cy="75" r="65" stroke-width="6">
                </circle>
            </svg>
            <div class="progress-value" id="progressValue">0%</div>
        </div>

        <div id="progress-bar">
            <div id="progress-fill"></div>
        </div>
        
        <p id="timer"></p>
    </div>
    <div>
        <nav class="navbar">
            
            <div id="lightouter">
                <div id="lightball"><img src="/img/lightmode.png" id="light"></div>
            </div>
            <a id="lmode">Light mode</a>
            <a id="mode"><%=mode %></a>
            <div id="outer">
                <div id="ball"></div>
            </div>
            <a id="name"> Hello <%= firstname %></a>

            <div id="profile">
                <svg height="40" width="40" style="font-family: 'Josefin Sans'">
                    <text x="11" y="31" fill="white" font-size="27"><%= firstname.charAt(0).toUpperCase()%></text>
                </svg>
            </div>
            
        </nav>
    
        
        <div id="lists">
            <% console.log(tasks) %>
        </div>
    </div>
    


<script src="/js/script.js"></script>
</body>
</html>