<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <link rel="icon" href="/img/todoicon.ico">
    <link href="/css/main.css" rel="stylesheet">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a> Hello <%= firstname %></a>
        <a id="mode"><%=mode %></a>
        <div id="outer">
            <div id="ball"></div>
        </div>
        
        <a href="/contactus">contact us </a>
        <a href="/logout">Logout</a>
    </nav>

    
    <div id="lists">
        <div class="mylist">
            <div id="me">


        
            </div>
            <input id="inputtask"><button id="btn">send</button>
        </div>
        <div id="other">

        </div>
    </div>



<script src="/js/script.js"></script>
</body>
</html>