<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <a> hi <%= firstname %></a>
        <a href="#">contact us </a>
        <a href="#">Add partner</a>
        <a href="/logout">Logout</a>
    </nav>

<script src="/js/script.js"></script>
</body>
</html>