<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Signup</title>
    <link rel="icon" href="#">
    <link rel="icon" href="/img/todoicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="signup-container">
        <h3 class="welcomeuser">Welcome user</h3>
    <form class="form"  action="/signup" method="post">
       
        <div class="input-field">
            <i class="fas fa-user" class="usericon"></i>
            <input type="text" placeholder="First name" name="firstname" required autocomplete="off">
        </div>
        <div class="input-field">
            <i class="fas fa-user" class="usericon"></i>
            <input type="text" placeholder="Last name" name="lastname" required autocomplete="off">
        </div>
        <div class="input-field">
            <i class="fa-solid fa-venus-mars"></i>
            <select class="gender-selection" name="gender">
                <option class="option" value="" disabled selected>Select Gender</option>
                <option class="option male" value="male">Male</option>
                <option class="option female" value="female">Female</option>
                <option class="option other" value="other">Others</option>
            </select>
        </div>
        <div class="input-field">
            <i class="fa-solid fa-child"></i>
            <input type="number" placeholder="Enter age" name="age" required autocomplete="off">
        </div>
        <div class="input-field">
            <i class="fas fa-envelope" class="usericon"></i>
            <input type="email" placeholder="Email ID" name="email" required autocomplete="off">
        </div>
        <div class="input-field">
            <i class="fas fa-lock" class="lockicon"></i>
            <input type="password" placeholder="Password" name="password" required autocomplete="off">
        </div>
        <div class="options">
            <label><input type="checkbox"> Remember me</label>
            <a href="#" class="forgotlink" >Forgot Password?</a>
        </div>
        <button type="submit" class="signup-button">SIGN UP</button>
    </form>
<script src="/js/signupStateManage.js"></script>
</div>
</body>
</html>
