body {

    height: 100vh;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 25px 0px 25px 0px;
    position: fixed;
    top: 0;
    box-shadow: 0 7px 6px -2px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    z-index:2;
    font-family: "Open Sans", sans-serif;
}

.navbar a{
    margin-left: 65px;
    color: rgb(50, 49, 49);
    text-decoration: none;
}

a:visited{
    color: rgb(50, 49, 49);
}
a::after{
    color: rgb(50, 49, 49);
}
.navbar > :last-child{
    margin-right: 50px;
}
.hide{
    display: none;
}
.uid-div {
    margin-left: 95px;
    width: 464px;
    padding-top: 30px;
    height: 200px;
    border-radius: 15px;
    background-color: rgb(240, 241, 243);
    /* margin-left: 30px; */
    text-align: center;
}
.head-details{

    width: 560px;
}
#main-div {
    display: flex;
    align-items: center;
    padding-top: 119px;
}
#duopic {
    margin: 0 0 0 40px;
    width: 886px;
    height: 658px;
}
.head{
    margin-left: 90px;
    margin-top: 100px;
    color: rgb(24,49,83);
}
.head-discrip {
    line-height: 27px;
    margin-top: 15px;
    margin-left: 90px;
    color: rgb(24, 49, 83);
}
#btns {
    margin-top: 20px;
    margin-left: 75px;
    justify-content: center;
    width: 65%;
    display: flex;
}
.copy{
  color: rgb(24,49,83);
  border: 2px solid rgb(24,49,83);
  background-color: rgb(248,226,151);
  border-radius:7px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  margin-left: 10px;
}
#generate-url-btn{
  color: rgb(24,49,83);
  border: 2px solid rgb(24,49,83);
  background-color: rgb(248,226,151);
  border-radius:7px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}
#discription{
    color:rgb(24,49,83) ;
}
#uid {
    opacity: 0.6;
    width: 68%;
    border-radius: 10px;
    border: 2px solid rgb(24, 49, 83);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
}
#discrip1,#discrip2{
    color: rgb(24,49,83);
}