body {
    display: flex;
    flex-direction: column; /* Stack sections vertically */
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 25px 0px 25px 0px;
    position: fixed;
    top: 0;
    /* background-color: rgb(150 130 112); */
    backdrop-filter: blur(4px);
    z-index:2;
    font-family: "Open Sans", sans-serif;
}

.navbar a{
    margin-left: 65px;
    /* color: rgb(50, 49, 49); */
    color: rgb(249, 241, 236);
    text-decoration: none;
}

a:visited{
    /* color: rgb(50, 49, 49); */
    color: rgb(249, 241, 236);
}
a::after{
    /* color: rgb(50, 49, 49); */
    color: rgb(249, 241, 236);
}
.navbar > :last-child{
    margin-right: 50px;
}

.contact-main-top{
    margin-top: -37vh;
    background-color: rgb(191,182,165);
    width: 100%;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;
}

.main-text{
    width: 45%;
    text-align: center;
    margin-top: 42vh;
    margin-bottom: 12vh;
}

.sign1{
    width: 14%;
    margin-top: 14vh;
}
 
.sign2{
    width: 14%;
    margin-top: 51vh;
}

.contact-us {
    background-color: #ffffff;
    text-align: center;
}

h1 {
    font-size: 56px;
    color: rgb(102, 55, 38);
    margin-bottom: 20px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.contact-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    width: 36%; /* Adjust width as needed */
    margin-left: 27vh;

}

.newsletter {
    background-color: rgb(150 130 112);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 24%; /* Adjust width as needed */
    margin-right: 27vh;
}

.contact-form input, .contact-form textarea {
    background-color: rgb(249, 241, 236);
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.newsletter input {
    background-color: rgb(249, 241, 236);
    width: 92%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 1px solid #ddd;
    font-size: 16px;
}

textarea {
    /* background-color: rgb(150 130 112); */
    outline: none;
    height: 100px;
    overflow: auto;
    resize: none;
}

.email-phone {
    display: flex;
    justify-content: space-between;
    gap: 2vh;
    margin-right: -3vh;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: rgb(150 130 112);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.newsletter button {
    width: 100%;
    padding: 12px;
    background-color: rgb(87, 72, 57);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contact-form button:hover, .newsletter button:hover {
    background-color: rgb(54, 44, 35);
}

.newsletter h3 {
    font-size: 24px;
    color: #ffffff;
}

.newsletter p {
    font-size: 16px;
    color: #dddddd;
    margin-bottom: 20px;
}

