body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(135deg, #ffffff, #c0a098);
}

#loginuser{
    width: 100px;
    height:100px;
    opacity: 0.6;
}


.login-container {
    padding: 20px;
    width: 300px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.input-field {
    display: flex;
    align-items: center;
    /* background: #2F3A56; */
    border: 1px solid  #918983;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 12px;
}

.input-field input {
    background: none;
    border: none;
    color:  rgb(104, 101, 101);;
    width: 100%;
    margin-left: 10px;
    outline: none;
}


/* "Remember me" and "Forgot password" */
.options {
    display: flex;
    justify-content: space-between;
    color:#918983;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.options input {
    margin-right: 5px;
}


/* Login button */
.login-button {
    /* background-color: #bea39c;
     */
     background-color: #918983;;
    color: white;
    border: none;
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form{
    margin-top: 20px;
}

.forgotlink{
    color: #918983;
    text-decoration: none;
}
.forgotlink:active{
    color: #918983;
    text-decoration: none;
}
.forgotlink:visited{
    color:#918983;
    text-decoration: none;
}
