*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 25px 0px 25px 0px;
    position: fixed;
    top: 0;
    box-shadow: 0 7px 6px -2px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    z-index:2;
}

.navbar a{
    margin-left: 65px;
    color: rgb(50, 49, 49);
    text-decoration: none;
}

a:visited{
    color: rgb(50, 49, 49);
}
a::after{
    color: rgb(50, 49, 49);
}
.navbar > :last-child{
    margin-right: 50px;
}
#outer{
    border: 1px solid  rgb(81 81 81);
    border-radius: 12px;
    width: 35px;
    margin-left: 10px;
    cursor: pointer;
}

#ball {
 
    background-color: rgb(81 81 81);
    border-radius: 30px;
    width: 46%;
    height: 16.5px;
    cursor: pointer;
}

.shift-right{
    display: flex;
    justify-content: flex-end;
}
.shift-left{
    display: flex;
    justify-content: flex-start;
}

#lists{
    display: flex;
    border:1px solid black;
    justify-content: center;
    margin-top: 200px;
}

#me,#other{
    border: 1px solid red;
    width:200px;
    height: 200px;
}
